<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceLogin" />
                <binding name="BasicHttpBinding_IServiceStatistics" />
                <binding name="BasicHttpBinding_IServiceCodeGenerator" />
                <binding name="BasicHttpBinding_IServiceUser" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:43247/ServiceStatistics.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceStatistics" contract="Statistics.IServiceStatistics" name="BasicHttpBinding_IServiceStatistics" />
            <endpoint address="http://localhost:43247/ServiceCodeGenerator.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceCodeGenerator" contract="ServiceCodeGenerator.IServiceCodeGenerator" name="BasicHttpBinding_IServiceCodeGenerator" />
            <endpoint address="http://localhost:43247/ServiceLogin.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLogin" contract="ServiceLogin.IServiceLogin" name="BasicHttpBinding_IServiceLogin" />
            <endpoint address="http://localhost:43247/ServiceUser.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceUser" contract="ServiceUser.IServiceUser" name="BasicHttpBinding_IServiceUser" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
