<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="AuthenticationBehavior" type="PW.SecurityWcf.Core.CAuthenticationBehaviorExtension, PW.SecurityWcf.Core"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AuthenticationBehavior">
          <AuthenticationBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceLogin"/>
        <binding name="BasicHttpBinding_IServiceStatistics"/>
        <binding name="BasicHttpBinding_IServiceCodeGenerator"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:43247/ServiceLogin.svc" binding="basicHttpBinding" behaviorConfiguration="AuthenticationBehavior" bindingConfiguration="BasicHttpBinding_IServiceLogin" contract="ServiceLogin.IServiceLogin" name="BasicHttpBinding_IServiceLogin">
      </endpoint>
      <endpoint address="http://localhost:43247/ServiceStatistics.svc" binding="basicHttpBinding" behaviorConfiguration="AuthenticationBehavior" bindingConfiguration="BasicHttpBinding_IServiceStatistics" contract="Statistics.IServiceStatistics" name="BasicHttpBinding_IServiceStatistics"/>
      <endpoint address="http://localhost:43247/ServiceCodeGenerator.svc" binding="basicHttpBinding" behaviorConfiguration="AuthenticationBehavior" bindingConfiguration="BasicHttpBinding_IServiceCodeGenerator" contract="ServiceCodeGenerator.IServiceCodeGenerator" name="BasicHttpBinding_IServiceCodeGenerator" />
    </client>
  </system.serviceModel>
</configuration>
